# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Test and coverage results
.pytest_cache/
coverage/

# Virtual environment
env/
venv/

# Environment variables
*.env

# IDE or editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp
